doctype html
html
  head
    title=title

    link(rel='stylesheet', href='/css/style.css')

    link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')

    script(src='/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/bower_components/jquery/dist/jquery.min.js')

  body
    div(class="container-fluid")
      include topNavigation.jade
      block content
