doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='/vendor/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/bower_components/jquery/dist/jquery.min.js')
  body
    block content
