doctype html
html
  head
    title= title

    //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/sub.menu.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
    script(src='/js/login.js')
    script(src='/js/sub.menu.js')

    block content
